.movie-list-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(25% - 20px);
    /* 4 sütun düzeni için */
    box-sizing: border-box;
}

.movie img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
}

.movie h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.description {
    display: flex;
    height: 100px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.genre {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.movie .rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    margin-top: 0.5rem;
}

.movie .rating img {
    width: 36px;
    height: auto;
    margin-right: 0.5rem;
    border-radius: 4px;
}